/*
* @author Jonathan D. Nunes de Souza
*/

/* CRIANDO CENÁRIO
----------------*/

body {
    background: url(../imagens/bg.jpg)no-repeat;
}

.painel {
    position: absolute;
    width: 200px;
    padding: 10px;
    bottom: 10px;
    border-top:1px solid black;
    background: black;
    opacity: 0.2;
    margin-left: 35px;
    margin-bottom: 20px;
}

.vidas {
    float: left;
}

.cronometro {
    float: left;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.corona1 {
    width: 50px;
    height: 50px;
}

.corona2 {
    width: 90px;
    height: 90px;
}

.corona3 {
    width: 130px;
    height: 130px;
}

.corona4 {
    width: 160px;
    height: 160px;
}

/* INVERTENDO O CORONA
--------------------*/

.ladoA {
    transform: scaleX(1);
}

.ladoB {
    transform: scaleX(-1);
}
